.container {
    padding: 16px;
}

.app-toolbar {
    display: flex;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.main {
    font-size: 20px;
    font-weight: 600;
}

.subtitle {
    font-size: 20px;
    opacity: 0.85;
    margin-top: 2px;
}
